body {
    background-color: #f4eced;
}

h1 {
    text-align: center;
}
.container { 
    
    text-align: center;
    height: 1150px;
    width: 900px;
    position: relative;
    border: 3px solid blue; 
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-sizing: content-box;
    overflow: auto;
    margin-top: 200px;

  }

  .career {
    color:maroon;
  }
  
  p1 {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
  }


  footer{
    text-align: center;
    margin: 60px 0;
    padding-bottom: 2px;
  }
  
  
  .footer-links {
    display: inline-flex;
  }

  .footer-p {
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
  }

  .skills p {
    margin: 1px;
    text-align: left ;
  }

  .btn {
    color: black;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
  
    padding: 5px 5px 5px 5px;
  }

